#container {
    padding-top: 5px;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 5px;
}
#demo-container {
    padding-top: 5px;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 5px;
}

@media (max-width: 600px) {
    .logo img {
        width: 100%;
    }
}